@model IEnumerable<Project1.BusinessLibrary.Product>
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Product";

    var user_type = HttpContextAccessor.HttpContext.Request.Cookies["user_type"];
    var user_id = HttpContextAccessor.HttpContext.Request.Cookies["user_id"];

    if (user_type == "2")
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else
    {
        if (user_id == null)
        {
            Layout = "~/Views/Shared/_Layout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
        }
    }
}

<div class="text-center welcome">
    <h1 class="welcome-text">STREAM GAMES STORE.</h1>
    <p class="welcome-small-text">THE #1 STORE TO BUY GAMES.</p>
</div>
<div class="products container">
    <h1 class="products-header">Products</h1>
    <hr />
</div>
<br />
<div class="container products-list">
    @{
        int counter = 0;
        <div class="row">
            <!-- Loop through all products and create an item in products section for it -->
            @foreach (var item in Model)
            {
                <div class="col-md">
                    <div class="product-items">
                        <span style="font-size: 24px; margin-top: 3em;">@Html.DisplayFor(modelItem => item.ProductName)</span><br />
                        <a href="@Url.Action("Product", "Home", new { id = item.ProductId })"><img src="@Html.DisplayFor(modelItem => item.ProductImage)"alt="Game Case Image" style="width: 100px; height: 150px; margin-bottom: .5em;" /><br /></a>
                        <a href="@Url.Action("Product", "Home", new { id = item.ProductId })" class="btn btn-primary"><em class="fas fa-shopping-cart"></em> $@Html.DisplayFor(modelItem => item.ProductPrice)</a><br />
                    </div>
                    <br />
                </div>
                counter++;
                if (counter % 3 == 0)
                {
                    <!-- Force next columns to break to new line at md breakpoint and up -->
                    <div class="w-100 d-none d-md-block"></div>
                }
            }
        </div>
    }
</div>
