@{
    <div class="container admin-buttons">
        <div class="row">
            <div class="col-sm">
                <p><a asp-action="Orders" class="btn btn-primary btn-large btn-block"><i class="fas fa-shopping-cart fa-7x"></i><br /> Orders</a></p>
                <p><a asp-action="Products" class="btn btn-primary btn-large btn-block"><i class="fas fa-tag fa-7x"></i><br /> Products</a></p>
            </div>
            <div class="col-sm">
                <p><a asp-action="Users" class="btn btn-primary btn-large btn-block"><i class="fas fa-user fa-7x"></i><br /> Users</a></p>
            </div>
            <div class="col-sm">
                <p><a asp-action="Locations" class="btn btn-primary btn-large btn-block"><i class="fas fa-store fa-7x"></i><br /> Locations</a></p>
            </div>
        </div>
    </div>
}
